@model Sandbox.ShoppingCart.Models.Cart

@{
    var cartProduct = Model.Products;

}

@{
    ViewBag.Title = Resources.Main.CartDetails;
}

<h2>Cart Overview</h2>

<div class="container">    
    <h2>Cart Items</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>@Resources.Main.Price</th>
                <th>Qty to Order</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in cartProduct)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>$@product.Price</td>
                    <td>@product.QuantityToOrder</td>
                </tr>
            }   
        </tbody>
    </table>
    
    <div class="font-weight-bold">Total price: $@Model.TotalPrice</div>

    @Html.ActionLink(Resources.Main.Place_an_order, "CreateOrder", "Order")
</div>

